# main
APP_HOST=0.0.0.0
APP_PORT=7020

# swagger
SWAGGER_IS_WRITE_CONFIG=true
SWAGGER_PATH=documentations

# postgres
PG_HOST=localhost
PG_PORT=5430
PG_DATABASE=secrets
PG_USERNAME=secrets
PG_PASSWORD=secrets
PG_MIGRATIONS_RUN=false
PG_LOGGINING=false

# kafka
KAFKA_HOST=localhost
KAFKA_PORT=9094
KAFKA_USER=user
KAFKA_PASSWORD=bitnami
KAFKA_IS_CONNECT=true